.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0 1px 12px rgba(120, 120, 130, 0.08);
  border-radius: 10px;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #F9FAFB; /* Or your initial background color */
}

.navbar.scrolled {
  background: linear-gradient(135deg, #FEF6E9, #FFE5EA, #F3EAFE);
  box-shadow: 0 6px 10px rgba(120, 120, 140, 0.15);
}
.navbar.scrolled .nav-links a {
  color: #60536f;
}
.navbar.scrolled .nav-links a:hover {
  color: #c6ace7;
  background-color:#ffe5ea00
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Cairo', sans-serif;
  color:#a18abd;
  text-shadow: 0 3px 5px #FFDCE4;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #60536f;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: 'Cairo', sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links a:hover {
  color: #c6ace7;
  background-color:#ffe5ea00
}

.nav-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #a18abd;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f1f1f1e4;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(120, 120, 140, 0.1);
    text-align: center;
  }

  .navbar.expanded .nav-links {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }

  .logo {
    font-size: 1.5rem;
  }
}